[submodule "basis/basis"]
	path = basis/basis
	url = https://github.com/basisjs/basisjs.git
[submodule "noscript/noscript"]
	path = noscript/noscript
	url = https://github.com/yandex-ui/noscript.git
[submodule "noscript/nommon"]
	path = noscript/nommon
	url = https://github.com/pasaran/nommon.git
[submodule "noscript/yate"]
	path = noscript/yate
	url = https://github.com/pasaran/yate.git
