<html>
<head>
	<title>My projects</title>
    <meta charset="utf-8">
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="../styles.css" rel="stylesheet">

	<script src="basis/src/basis.js" basis-config></script>
	<script type="text/javascript">
		basis.ready(function(){
	      	basis.require('basis.data');
	      	basis.require('basis.template');
	      	basis.require('basis.net.action');
	      	basis.require('basis.ui');   

			var repoList = new basis.ui.Node({
			  	container: document.querySelector('.container'),
			  	template: '<div />',
	          	syncAction: basis.net.action.create({
		          	url: 'https://api.github.com/users/just-boris/repos',
		          	success: function(response){
			            this.setChildNodes(basis.data.wrap(response));
		          	}
	      	  	}),
	          	childClass: {
		          	template: basis.template.switcher('update', function(node){
		            	return node.data.homepage
		              		? 'id:repo-item-link-template'
		              		: 'id:repo-item-template';
		          	}),
		          	binding: {
		            	name: 'data:',
		            	language: 'data:',
		            	homepage: 'data:',
		            	html_url: 'data:',
		            	forked: 'data:fork',
		            	description: 'data:'
		          	}
				}
			});
		});
	</script>
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li><a>Choose version:</a></li>
	  		<li class="divider-vertical"></li>
	  		<li><a href="/repo-list/">Angular JS</a></li>
	  		<li class="active"><a href="/repo-list/ru/">Basis JS</a></li>
            <li><a href="/repo-list/noscript/">Noscript JS</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class=""><a href="https://github.com/just-boris/repo-list">Code on Github</a></li>
			<li class=""><a href="/">Back to Catatron</a></li>
		</ul>
	</nav>
	<div class="container">
		<p>I have written some own projects. So, I have published on Github the most interesting of them in my opinion.</p>
		<div class="filters">
			<div class="btn-group">
			  <button type="button" class="btn btn-default" ng-class="{active:!showForks}"  ng-click="showForks=false">Only own</button>
			  <button type="button" class="btn btn-default" ng-class="{active:showForks}" ng-click="showForks=true">Include forks</button>
			</div>
			<form class="form-inline pull-right" role="form">
				<select class="form-control" ng-model="lang" ng-options="language for language in languages">
					<option value="">All languages</option>
				</select>
			</form>
		</div>
	</div>
  	<script type="text/basis-template" id="repo-item-template">
  	  	<div class="repo">
			<div class="repo-language"><em>{language}</em></div>
			<h3>
				<span>{name}</span>
				<a class="github-repo" title="Код на Github" href="{html_url}"> <i class="icon-github"></i> </a>
				<i class="icon-code-fork" title="Форкнутый репозиторий"></i>
			</h3>
			<p>{description}</p>
		</div>
  	</script>
 
  	<script type="text/basis-template" id="repo-item-link-template">
  	  	<div class="repo">
			<div class="repo-language"><em>{language}</em></div>
			<h3>
				<a href="{homepage}">{name}</a>
				<a class="github-repo" title="Код на Github" href="{html_url}"> <i class="icon-github"></i> </a>
				<i class="icon-code-fork" title="Форкнутый репозиторий"></i>
			</h3>
			<p>{description}</p>
		</div>
  	</script>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-39285873-1']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</body>
</html>