<html>
<head>
    <title>My projects</title>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="../styles.css" rel="stylesheet">
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39285873-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a>Choose version:</a></li>
        <li class="divider-vertical"></li>
        <li><a href="../">Angular JS</a></li>
        <li><a href="../react">React JS</a></li>
        <li class="active"><a href="">Marionette JS</a></li>
        <li><a href="../basis">Basis JS</a></li>
        <li><a href="../noscript">Noscript JS</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="https://github.com/just-boris/repo-list">Code on Github</a></li>
        <li class=""><a href="/">Back to Catatron</a></li>
    </ul>
</nav>
<div class="container">
    <p>I have written some own projects. So, I have published on Github the most interesting of them in my opinion.</p>

    <div class="filters">
        <div class="btn-group">
            <button type="button" class="btn btn-default hide-forks">Only own</button>
            <button type="button" class="btn btn-default show-forks">Include forks</button>
        </div>
        <form class="form-inline pull-right" role="form">
            <select class="form-control">
                <option value="">All languages</option>
            </select>
        </form>
    </div>
    <div class="repos">

    </div>
</div>
<script type="text/template" id="repo-item">
    <div class="repo">
        <div class="repo-language"><em><%= language %></em></div>
        <h3>
            <% if (homepage) { %>
            <a href="<%= homepage %>"><%= name %></a>
            <% } else {%>
            <span><%= name %></span>
            <% } %>
            <a class="github-repo" title="Код на Github" href="<%= html_url %>"><i class="icon-github"></i></a>
            <% if (fork) { %>
            <i class="icon-code-fork" title="Форкнутый репозиторий"></i>
            <% } %>
        </h3>

        <p><%= description %></p>
    </div>
</script>

<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//yandex.st/underscore/1.6.0/underscore-min.js"></script>
<script src="//yandex.st/backbone/1.1.2/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.8.0/backbone.marionette.js"></script>
<script type="text/javascript">
    var RepoCollection = Backbone.Collection.extend({
                url: "https://api.github.com/users/just-boris/repos"
            }),
            LangsCollection = Backbone.Collection.extend({}),
            FiltersView = Backbone.View.extend({
                events: {
                    'change select': 'selectLang',
                    'click .show-forks': 'showForks',
                    'click .hide-forks': 'hideForks'
                },
                initialize: function(options) {
                    this.$select = this.$('select');
                    this.$btnShow = this.$('.show-forks');
                    this.$btnHide = this.$('.hide-forks');
                    options.langs.forEach(function(lang) {
                        $('<option></option>').text(lang).appendTo(this.$select);
                    }, this);
                    this.filters= {};
                    setTimeout(this.hideForks.bind(this));
                },
                selectLang: function() {
                    this.filters.lang = this.$select.val();
                    this.trigger('update', this.filters);
                },
                toggleForks : function(showForks) {
                    this.filters.forks = showForks;
                    this.$btnShow.toggleClass('active', showForks);
                    this.$btnHide.toggleClass('active', !showForks);
                    this.trigger('update', this.filters);
                },
                showForks: function() {
                    this.toggleForks(true);
                },
                hideForks: function() {
                    this.toggleForks(false);
                }
            }),
            RepoListView = Backbone.Marionette.CollectionView.extend({
                itemView: Backbone.Marionette.ItemView.extend({
                    template: '#repo-item'
                })
            });

    $(function() {
        function collectLanguages(repos) {
            var result = [];
            repos.forEach(function(repo) {
                if(result.indexOf(repo.language) === -1) {
                    result.push(repo.language);
                }
            });
            return result;
        }

        var reposAll = new RepoCollection();

        reposAll.fetch().then(function(response) {
            var langs = collectLanguages(response),
                filters = new FiltersView({
                    langs: langs,
                    el: '.filters'
                }),
                repos = new RepoCollection(),
                repoList = new RepoListView({
                    collection: repos,
                    el: '.repos'
                });
            repos.add(response);
            filters.on('update', function(filters) {
                repos.reset(reposAll.filter(function(repo) {
                    return (filters.forks || !repo.get('fork')) &&
                            (!filters.lang || repo.get('language') === filters.lang);
                }));
            });
        });
    });
</script>
</body>
</html>
